* {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	transition: all .2s ease-in-out;
}

a {
	text-decoration: none;
	color: inherit;
}

html {
	background-color: white;
}

#template { /* Delete this when done! */
	/*display: none;*/
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('assets/books.MD.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 1600px;
	height: 3550px;
	z-index: 9999;
	margin: 0 auto;
	opacity: 0.3;
}

body {
	max-width: 1600px;
	/* margin: 0 auto; Uncomment this when done! */
	background-color: #f5f5f5;
}


/* ================================================== *\
					MAIN HEADER STYLES
\* ================================================== */
header#main-header {
	background-image: url('assets/header_bg.jpg');
	background-repeat: no-repeat;
	background-position: 0 0;
}

#title-wrapper {
	display: block;
	height: 264px;
    width: 680px;
    margin: 0 auto;
    padding-top: 38px;
}

#title-logo {
    margin-left: 5px;
}

#title-content-wrapper {
	display: inline-block;
    vertical-align: top;
    margin-left: 14px;
    margin-top: 5px;
    letter-spacing: -0.5px;
}

#display-title {
	font-family: 'Roboto Slab', serif;
    font-weight: 400;
    letter-spacing: -0.5px;
    color: white;
}

#title-shade {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	opacity: 0.7;
	letter-spacing: -0.8px;
}

#subtitle {
    letter-spacing: -0.1px;
    margin-top: 2px;
    color: #6d8808;
    opacity: 0.9;
}

#search-box {
    margin-top: 42px;
    
}

#search-input {
	height: 50px;
	width: calc(100% - 68px);
	font-size: 18px;
    padding-left: 17px;
    letter-spacing: -0.1px;
    border-radius: 3px 0px 0px 3px;
    color: #82992f;
    background-color: #cedd99;
    outline: none;
    float: left;
}

#search-input:active {
	outline: none;
}

#search-button {
    padding: 0px;
    height: 50px;
    width: 63px;
    border-radius: 0px 3px 3px 0px;
    background-color: white;
    font-size: 27px;

}

#search-button:hover {
	cursor: pointer;
}

#search-button:hover i {
	font-size: 1.1em;
}

#search-button:active {
	outline: none;
}

#search-button i.fa-search {
	color: #b2cf4e;
}

#main-nav {
	height: 54px;
	background-color: white;
}

#main-nav ul {
	list-style: none;
	text-align: center;
}
#main-nav ul li {
	display: inline-block;
}

#main-nav ul li a {
	display: inline-block;
	color: #989898;
	height: 54px;
    line-height: 54px;
    padding: 0 19px;
    font-size: 17px;
    text-decoration: none;
}

#main-nav ul li a.selected,  #main-nav ul li a:hover {
	color: #9fc128;
}
/* ================================================== *\
				    END OF MAIN HEADER STYLES
\* ================================================== */


.books-section {
	background-color: rgb(234, 237, 235);
	height: 70%;
	padding-top: 3rem;
	padding-bottom: 10%;
}

.books {
	margin: 0 auto 23px;
	background-color: rgb(255, 255, 255);
	display: flex;
	width: 1200px;
    margin-top: 55px;
}

.book-presentation {
	width: 70%;
}

.books .book-img {
	width: 30%;
	height: 100%;
}

.book-img img {
	padding: 0;
	display: block;
	margin: 0;
	max-height: 100%;
	max-width: 100%;
}

.book-presentation header {
	padding-top: 1.5rem;
	padding-left: 1.5rem;
}

.book-presentation header h2 {
	font-family: "Roboto";
	font-size: 1.8rem;
	font-weight: 400;
}

.book-data {
	font-family: "Roboto";
	padding: 1.5rem 0 1rem;
}

.book-data p, .book-data input {
	font-family: "Roboto";
	font-size: 0.8rem;
	display: inline-block;
}

.book-data input {
	height: 1.5rem;
	width: 3rem;
	border: 1px solid rgb(76, 175, 80);
	background-color: white;
	color: rgb(76, 175, 80);
}

.book-published {
	color: gray;
	margin-right: 5%;
	margin-left: 5%;
}

.book-data p span {
	color: rgb(85, 120, 244);
}

.book-content {
	overflow: hidden;
}

.book-desc {
	float: left;
	width: 60%;
}

.book-desc p {
	font-family: "Roboto";
	margin-left: 1rem;
	margin-top: 0.5rem;
	margin-right: 1rem;
}

.book-comment {
	float: left;
	width: 40%;
}

.book-content a {
	display: block;
	color: rgb(85, 120, 244);
	font-family: "Roboto";
	margin-left: 1rem;
	padding-top: 0.4rem;
}

.book-comment {
	border-left: 2px solid rgb(234, 237, 235);
	padding-left: 1rem;
	padding-right: 1rem;
}

.group-range {
	margin-left: 1rem;
}

.group-rating {
	margin-top: 1.6rem;
}

.group-rating a {
	font-family: "Roboto";
	padding-top: 3px;
	font-size: 1rem;
	line-height: 2rem;
	vertical-align: 40%;
	color: rgb(85, 120, 244);
	border-bottom: 1px solid rgba(1, 1, 1, .2);
	overflow: hidden;
}

.group-rating a span{
	float: left;
}

.group-rating a i{
	line-height: 2rem;
	vertical-align: center;
	float: right;
}

.book-price {
	margin-top: 7px;
	float: left;
	margin-right: 35px;
}

.book-price img {
	display: inline-block;
	float: left;
}

.bookmark{
	float: right;
	position: relative;
	text-align: center;
}

.bookmark img {
	display: inline-block;
	opacity: 0.5;
}

.display-price {
	float: left;
	background-color: white;
	font-family: "Roboto";
	color: #accd44;
	font-size: 1.2rem;
	padding: 0.5rem;
	border-left: 1px solid rgb(201, 191, 191);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.clear-fix {
	overflow: hidden;
	width: 1200px;
    margin: 0 auto;
}

.book-range {
	content:'';
	width: 100%;
	height: 3px;
	border-radius: 5px;
}

.book-range.yellow {
	background: linear-gradient(to right, rgb(247, 221, 93) 80%, rgb(241, 239, 244) 80%);
}

.book-range.green {
	background: linear-gradient(to right, green 75%, rgb(241, 239, 244) 75%);
}

.book-range.azure {
	background: linear-gradient(to right, rgb(39, 158, 217) 95%, rgb(241, 239, 244) 95%);
}

.label-des {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	height: 1rem
}

.label-des label {
	font-family: "Roboto";
	font-size: 0.9rem;
}

.range-percent {
	float: right;
}

label-des.yellow {
	color: rgb(247, 221, 93);
}

.label-des.green {
	color: rgb(101, 237, 165);
}

.label-des.azure {
	color: rgb(39, 158, 217);
}

.des-box {
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	font-family: "Roboto";
	color: rgb(165, 172, 175);
	text-align: center;
	vertical-align: middle;
	font-size: 0.1em;
	padding: 2px;
	position: relative;
}

.des-box.yellow {
	background: rgb(247, 221, 93);
}

.des-box.green {
	background: rgb(101, 237, 165);
}

.des-box.azure {
	background: rgb(220, 238, 247);
}

.des-box::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -0.2em;
	height: 0;
	width: 0;
	border-right: 0.5em solid transparent;
}

.des-box.yellow::after {
	border-top: 0.5em solid rgb(247, 221, 93);
}

.des-box.green::after {
	border-top: 0.5em solid rgb(101, 237, 165);
}

.des-box.azure::after {
	border-top: 0.5em solid rgb(220, 238, 247);
}

#download-button{
	font-family: "Roboto";
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.2rem;
	margin: 0 25px 30px 10%;
	width: 20%;
	color: white;
	background-color: rgb(152, 196, 0);
	border-radius: 5px;
	border-style: none;
}

.load-books{
	text-align: center;
	margin: 130px;
	margin-top: 50px;
}

.load-books a {
	font-family: "Roboto";
	font-size: 1.2rem;
	color: rgb(188, 183, 188);
}















/* ================================================== *\
					MAIN FOOTER STYLES
\* ================================================== */
#main-footer {
  background-color: #3a3a3a;
  padding: 20px 0;
  color: #4f4f4f;
}
#main-footer .col-left {
  float: left;
}
#main-footer .col-right {
  float: right;
}
#main-footer p {
  margin: 0;
  vertical-align: middle;
}
#main-footer img {
  vertical-align: middle;
  margin-right: 10px;
}
#main-footer .lmd-footer span {
  color: lightgray;
}
#main-footer a {
  color: #c7c7c7;
}

/* footer clearfix */
footer:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
 }
/* ================================================== *\
				END OF MAIN FOOTER STYLES
\* ================================================== */


/* ========= The following code was taken from ======================
             https://css-tricks.com/snippets/css/style-placeholder-text/ 
             Used to change the color of placeholder text =========== */
::-webkit-input-placeholder {
   color: #82992f;
   opacity: 0.7;
}

:-moz-placeholder { /* Firefox 18- */
   color: #82992f; 
   opacity: 0.7; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #82992f;  
   opacity: 0.7;
}

:-ms-input-placeholder {  
   color: #82992f;  
   opacity: 0.7;
}
/* ================================================  */  




 




































